<html>
    <head>
        <%- include('partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('partials/homeNav'); %>
            <style>
                h1 {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    
                }
            </style>
        </header>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <h1>About Us</h1>
                    <p class="p-3">Lennin Repizo Barber &amp; Beauty Salon has been serving the community since 1991. Our new location gives guests the opportunity to receive a complete range of specialized treatments created to deeply nourish and renew hair. Lennin Repizo Barber &amp; Beauty Salon offers treatments devoted to hair, skin, and nails so guests are able to receive a head to toe experience.</p>
                </div>
            </div>
        </div>
    </body>
    <footer class="bg-light text-center text-lg-start" style="position: fixed; left: 0; bottom: 0; width: 100%;">
        <!-- Copyright -->
        <div class="text-center p-3 text-bg-dark">
            © Copyright 1991-2023 Lennin Repizo Barber and Beauty Salon, Inc. All Rights Reserved
        </div>
        <!-- Copyright -->
    </footer>
</html>