<html>
    <head>
        <%- include('partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('partials/employeenav'); %>
            <style>
                h1 {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    padding-left: 100px;
                }
            </style>
        </header>
        
        <h1 class="text-center">Employee status has been updated</h1>
        <div class="text-center">
            <a href="http://localhost:8080/employeelist" class="btn btn-primary mx-auto"> Return to the employees page</a>
        </div>
    </body>
</html>