<h1> hello </h1>
<button onclick="window.location.href='https://cis4375.auth.us-east-1.amazoncognito.com/login?client_id=7qvofnkkmgiqa5i7h6ogcgcng5&response_type=code&scope=email+openid+phone&redirect_uri=Localhost:8080/login.ejs';">
    Click Here
</button>
<button onclick="window.location.href='Localhost:8080/customerhome';">
    Click Here2
</button>
<form action="http://Localhost:8080/customerhome">
    <input type="submit" value="Click Here 3" />
</form>