<html>
    <head>
        <%- include('partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('partials/homeNav'); %>
            <style>
                h1 {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    
                }
            </style>
        </header>

        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <br><br><br><br>
                    <h3>Experience grooming bliss at our barber and beauty salon. Our expert team offers personalized services tailored to your needs, from classic cuts to modern styles. 
                    Book now for ultimate relaxation and refinement.</h3>
                    <br><br>
                    <button type="button" class="btn btn-dark btn-lg" onclick="window.location.href='https://cis4375.auth.us-east-1.amazoncognito.com/signup?client_id=7bim922fgt2crjne0fo1dibvum&response_type=code&scope=email+openid+phone+profile&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fcustomerhome';">Book Now!</button>
                </div>
                <div class="col" style="padding: 0%;">
                    <img class="w-100"src="https://www.thefashionisto.com/wp-content/uploads/2020/03/Hairdresser-Tools-800x534.jpg">
                </div>
            </div>
        </div>
        <h1 style="padding-left: 100px;">Our Range of Specialized Services</h1>

        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://esq.h-cdn.co/assets/17/29/1280x960/sd-aspect-1500667303-es-072117-talk-to-your-barber-about-your-hair.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h2>Barber</h2>
                  <p></p>
                  <br>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://hips.hearstapps.com/hmg-prod/images/person-styling-hair-royalty-free-image-1608056805." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h2>Hair Style</h2>
                  <p></p>
                  <br>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://media.allure.com/photos/5c2e8ec54325fe2d62c0943a/16:9/w_2560%2Cc_limit/how-often-should-you-get-a-facial-lede.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h2>Facial</h2>
                  <p></p>
                  <br>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="container-fluid">
            <div class="row">
                <div class="col-lg-auto">
                  <h1 style="padding-left: 20%;" class="text-left">Our Location</h1>
                    <iframe style="padding-left: 20%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3463.065837597463!2d-95.83127194999342!3d29.77573773808402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864126a7321e7083%3A0x6c4b8d1eb5a6d8b0!2sLennin%20Repizo%20Beauty%20Salon%20%2B%20Barber!5e0!3m2!1sen!2sus!4v1681074006284!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <!-- ToDo Highlight the current day of the week -->
                <div class="col-6 mx-auto justify-content-start" style="padding-left: 20%;">
                  <h1 class="text-left">Hours Of Operation</h1>
                    <table class="table table-striped table table-bordered" style="width:350px;">
                        <thead class="thead">
                          <th>Day</th>
                          <th>Hours</th>
                        </thead>
                        <tbody class="table table-striped">
                          <tr>
                            <td>Monday</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td>Tuesday</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td>Wednesday</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td>Thursday</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td>Friday</td<>
                              <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td>Saturday</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td>Sunday</td>
                            <td>Closed</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>

        
        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3 text-bg-dark">
                © Copyright 1991-2023 Lennin Repizo Barber and Beauty Salon, Inc. All Rights Reserved
            </div>
            <!-- Copyright -->
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </body>
</html>