<html>
    <head>
        <%- include('partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('partials/homenav'); %>
            <style>
                h1 {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    padding-left: 100px;
                }
            </style>
        </header>
        
        <h1 class="text-center">You have successfully logged out!</h1>

        <div class="flex-row">
            <div class="text-center">
                <button type="button" class="btn btn-primary mx-auto" onclick="window.location.href='http://localhost:8080/';">
                    Return to home page
                </button>

            </div>
    
        </div>
    </body>
</html>

